doctype html
include mixin
html
	head( id= ( new Date() ).getTime() )
		| {MobileAppHeaders}
		meta( charset="utf-8" )
		title {Title}{block:SearchPage} ({lang:Search results for SearchQuery}){/block:SearchPage}{block:PermalinkPage}{block:PostSummary} — {PostSummary}{/block:PostSummary}{/block:PermalinkPage}
		| {block:Description}
		meta( name="description" content="{MetaDescription}")
		| {/block:Description}
		| {block:Hidden}
		meta( name="if:Sliding header" content="1")
		meta( name="if:Collapse navigation" content="1")
		meta( name="if:Endless scrolling" content="1")
		meta( name="select:Layout" content="regular" title="Regular")
		meta( name="select:Layout" content="narrow" title="Narrow")
		meta( name="select:Layout" content="grid" title="Grid")
		meta( name="text:Disqus shortname" content="")
		meta( name="text:Google analytics ID" content="")
		| {/block:Hidden}
		meta( name="viewport" content="width=device-width, initial-scale=1.0")
		link( rel="shortcut icon" href="{Favicon}")
		link( rel="apple-touch-icon-precomposed" href="{PortraitURL-128}")
		link( rel="alternate" type="application/rss+xml" href="{RSS}")
		//-link( rel="stylesheet" href="http://static.tumblr.com/vr9xgox/k5rniy4bm/main-min.css")
	body( data-urlencoded-name="{URLEncodedName}" class="{select:Layout}{block:IndexPage} index-page{/block:IndexPage}{block:PermalinkPage} permalink{/block:PermalinkPage}{block:SearchPage} search-page{block:NoSearchResults} no-results{/block:NoSearchResults}{/block:SearchPage}{block:HideHeaderImage} no-header-image{/block:HideHeaderImage}{block:NoStretchHeaderImage} contain-header-image{/block:NoStretchHeaderImage}" )

		section( ng-view )

		+template( 'angular', 'post' )
			include templates/post
		+template( 'angular', 'home' )
			include templates/home
		+template( 'angular', 'error' )
			include templates/error

		script(type="application/javascript", src="https://raw.githubusercontent.com/alejonext/theme-tumblr/master/dist/app.js")